body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #03ff46;
}

.star {
    /* position: relative; */
    display: inline-block;
    color: yellow;
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-bottom: 35px solid yellow;
    border-left: 50px solid transparent;
    transform: rotate(35deg);
}

.star:before, .star:after {
    content: '';
    position: absolute;
    top: 0px;
    left: -50px;
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-bottom: 35px solid yellow;
    border-left: 50px solid transparent;
    transform: rotate(-70deg);
}

.star:after {
    transform: rotate(-140deg);
    top: -5px;
    left: -55px;
}
