body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.star {
    position: relative;
    display: block;
    color: yellow;
    width: 0;
    height: 0;
    border-right: 50px solid rgba(0, 0, 0, 0);
    border-bottom: 100px solid rgb(255, 255, 0);
    border-left: 50px solid rgba(0, 0, 0, 0);
    transform: rotate(35deg);
}

.star:before, .star:after {
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 0;
    height: 0;
    border-right: 50px solid rgba(0, 0, 0, 0);
    border-bottom: 100px solid rgb(255, 255, 0);
    border-left: 50px solid rgba(0, 0, 0, 0);
}

.star:before {
    transform: rotate(-70deg);
}

.star:after {
    transform: rotate(70deg);
    top: -70px;
}
